/* Tailwind base layer (reset, 기본 스타일) */
@layer base {
  body {
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
  }

  /* 전역 스크롤바 스타일 (edit-custom-scrollbar 스타일) */
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vw !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 100vw;
    border: 1px solid transparent;
    border-color: #d9d9d9;
    background-clip: padding-box;
  }
}