/* 유틸리티 클래스 커스텀 (플렉스, 마진 등) */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .cursor-inherit {
    cursor: inherit;
  }
  .textarea-custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: black #e5e5e8;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e5e8;
    border-radius: 100vw;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vw;
  }
}