/* 유틸리티 클래스 커스텀 (플렉스, 마진 등) */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .cursor-inherit {
    cursor: inherit;
  }
  .textarea-custom-scrollbar {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e5e8;
    border-radius: 100vw !important;

    border: 2px solid transparent;
  background-clip: padding-box;
  }

  .textarea-custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 100vw;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
}