@import './_base.css';
@import './_variables.css';
@import './_utilities.css';
@import 'tailwindcss';

/* TipTap Placeholder */
.ProseMirror {
  position: relative;
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #787878;
  pointer-events: none;
  height: 0;
  float: left;
  width: 100%;
  text-align: inherit;
}
